svg{
    transition: all 0.5s ease-out;
}

tr{
    display: grid;
    grid-gap: 32px;
    grid-auto-flow: column;
    grid-template-columns: 75px 62px 197px 164px 190px 110px;
    justify-content: space-between;
}

tr>td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    flex-wrap: nowrap;
    text-align: end;
}
tr>td:nth-child(2) {
    justify-content: center;
}


tr>td:nth-child(6){
    justify-content: flex-end;
}

tr>th {
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}


tr>td>.dvsc_tab,
tr>td>.dvsc_tab>p {
    tab-size: 4;
    margin: 0;
    text-align: end;
    white-space: nowrap;
    word-break: keep-all;
}


td>.dvsc_tab>output.dvsc_category_score_display{
    font-weight: bold;
}